<footer class="footer">
    <div class="footer__inner">
        <div class="footer__content">
            <img src="https://api.visitorbadge.io/api/visitors?path=https%3A%2F%2Flubbockhamradio.org&amp;label=Visitors&amp;labelColor=%2337d67a&amp;countColor=%23d9e3f0&amp;style=plastic" alt=Visitors>&nbsp;
            <a href="https://join.slack.com/t/lubbockamateu-hgf3723/shared_invite/zt-1613c7nwg-hegXmzckOdcI7ibFqy5LuQ"><img width="100px" src="/images/Slack-logo-inverted-RGB.png" /></a>&nbsp;
        </div>
    </div>
</footer>
